/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@342&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Pacifico&family=Playwrite+HU:wght@342&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Pacifico&family=Playwrite+HU:wght@342&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* Colors */
    --Beige: #F5EFEB;
    --Venus: #BAD6EB;
    --Navy: #205295;
    --Storm: #d2d7da;
    --White: #F9F6F3;

    /* Font size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site max width */
    --site-max-width: 1300px;

}

/* Styling for whole site */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-content {
    text-align: center;
    padding: 60px 0 100px;
    font-size: var(--font-size-xl);
}

/* Navbar styling */
header {
    position: absolute;
    width: 100%;
    z-index: 5;
}   

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text {
    color: var(--White);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    font-family: "Limelight", sans-serif;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .navlink {
    padding: 10px 18px;
    color: var(--White);
    font-size: var(--font-size-l);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
    font-family: "Limelight", sans-serif;
}

.navbar .nav-menu .navlink:hover {
    background: var(--Navy);
    color: var(--Beige);
}

.hero-section {
    min-height: 100vh;
    background-image: url(Background.jpg); 
    background-size: cover;
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--Navy);
    justify-content: space-between;
}

.hero-section .hero-details .title {
    font-size: var(--font-size-xl);
    text-align: left;
    color: var(--Navy);
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 150%;
}

.hero-section .hero-details .subtitle {
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xxl);
}

.hero-section .hero-details .description {
    text-align: left;
    max-width: 70%;
    margin: 24px 0 40px; 
    font-size: var(--font-size-l);
}
.hero-section .hero-details .button {
    border: 2px solid transparent;
    padding: 5px 5px;
    text-align: left;
    margin-right: 200px;
    margin-left: -180px;
    color: var(--Beige);
    border-radius: var(--border-radius-m);
    background: var(--Navy);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
    font-size: 75%;
}
.hero-section .hero-details .button:hover, 
.hero-section .hero-details .Join-our-Stream{
    color: var(--Navy);
    border-color: var(--Beige);
    background: transparent;
}

.hero-section .hero-details .Join-our-Stream:hover{
    color: var(--Beige);
    border-color: var(--Navy);
    background: var(--Navy)
}
.hero-section .hero-image-wrapper {
    max-width: 500px;
    margin-right: 30px;
}

/* About section styling */

.about-image-wrapper {
    width: 150%;
    margin-right: 100px;
}
.about-section {
    padding: 120px 0;
    background-image: url(About\ Us.jpg); 
    background-size: cover;
}

.about-section .section-content {
    text-align: justify;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    color: var(--Navy);
}

.section-title {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 150%;
}

.text {
    font-size: 90%;
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
}


.about-section .about-image-wrapper .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Responsive media query code for max width 900px */
@media screen and (max-width: 900px) {
}